<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Carbon Footprint calculator</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Carbon Footprint calculator</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/home">HOME</a></li>
          <li id="about"><a href="/CarTravel">CARS</a></li>
          <li id="contact"><a href="/Flight">FLIGHTS</a></li>
          <li id="contact"><a href="/MotorBike">MOTORBIKE</a></li>
          <li id="Public"><a href="/publicTransit">PUBLIC TRANSIT</a></li>
          <li id="results"><a href="/results">RESULTS</a></li>

          <li id="reduce"><a href="/reduce">REDUCING FOOTPRINT</a></li>
        
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
