<%- include("partials/header")%>
<style >
	body{

		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color:#5CB85C;
		 background-image: url("https://wallpapercave.com/wp/wp5820973.jpg");



	 }
</style>

<h1>Welcome To</h1>
<h1 style=" font-size:50px; font-family:cantarell; color: bl;"><b>CARBON FOOTPRINT CALCULATOR</b></h1>
<h3> Carbon Footprint Calculator For Individuals And Households</h3>
<!-- <form action="/CarTravel" method="post">

  <button type="submit" name="button" class="np-clea">Lets Calculate</button>


</form> -->
<div class="np-clear nextprev">
<a class="np-clea" href="/CarTravel">Lets Calculate</a>
</div>
<%- include("partials/footer")%>
