<%- include("partials/header")%>
<h1>Welcome To</h1>
<p style=" font-size:60px; font-family:cantarell; color:  #1abc9c;"><b>CARBON FOOTPRINT CALCULATOR</b></p>
  <p> Carbon Footprint Calculator For Individuals And Households</p>
  <button class="btn" target="_blank" ><a href="/CarTravel">Let's calculate</a></button>


<%- include("partials/footer")%>
