<%- include("partials/header")%>

<style >
 #anchor{
   padding:8px;


   border-color:black;
   border-radius:3px;

 }
  #public{
padding-top:7px;
padding-bottom:7px;
  margin: 16px 0 16px 0;
  box-sizing: border-box
  text-align:center;
  }
  .item{
    margin-top:20px;
  }
</style>


<h1><%=title%> carbon footprint calculator</h1>

<form  id="public" action="/PublicTransit" method="post" class="form">


  <label for="car">Select the type of transportation : </label>


<select name="public" id="public">
    <option value="">--Please choose an option--</option>


    <option value="Taxi">Taxi</option>
    <option value="ClassicBus">ClassicBus</option>
    <option value="Coach">Coach</option>
    <option value="NationalTrain">NationalTrain</option>
    <option value="LightRail">LightRail</option>
    <option value="EcoBus">EcoBus</option>
    <option value="FerryOnFoot">FerryOnFoot</option>

</select>
  <br>
  <label for="distance">Enter the distance you travelled in Kms: </label>
  <input id="dist" type="number" name="distance" min=0>
<br>
  <button  class="item btn btn primary" type="submit" name="button">calculate</button>

</form>
<script type="text/javascript">
  $("#cars").submit(function(event){
   loadAjax();
   console.log("hii");
   event.preventDefault()
})
</script>


<h2>Total Public Transit Footprint = <%=carbon%> metric tons of CO2e.</h2>

<button class="btn"  ><a class="anchor" href="/MotorBike">Previous</a></button>

<%- include("partials/footer")%>
