<%- include("partials/header")%>
<h1>Your Total carbon footprint is : <%=carbon%> metric tons of CO2e.</h1>
<%- include("partials/footer")%>
<style media="screen">
  .a{
    display:flex;
    flex-direction:row;
  justify-content:center;

  }
  .b{
    display:flex;
    flex-direction:column-reverse;
    width:100px;
    margin-left:

  }
  .c{
    display:flex;
    flex-direction:column-reverse;
    width:75px;

  }
  .d{
  margin-left:80%;
  }
</style>

<div class="a">
  <div class="c">
    <% if(carbon>150){ %>

    <img style="height:150px;"src="https://calculator.carbonfootprint.com/blackfoot.gif" alt="">
      <label for="">Your footprint</label>
  <% } else if(carbon <150){%>

    <img style="height:50px;"src="https://calculator.carbonfootprint.com/blackfoot.gif" alt="">
      <label for="">Your footprint</label>
  <%}%>
  </div>
  <div class="b">
    <img style="height:200px;"src="https://calculator.carbonfootprint.com/blackfoot.gif" alt="">
  <label for="">Your country footprint</label>
  </div>
  <div class="c">
    <img style="height:70px;"src="https://calculator.carbonfootprint.com/blackfoot.gif" alt="">
  <label for="">Global footprint</label>
  </div>


</div>
<button class="d btn btn primary" name="b"><a id="anchor" href="/logout">Logout</a></button>
