/* Next & Previous */
*, *:before, *:after {
	box-sizing: inherit;
}
.nextprev{
  padding-top: 50px;
  padding-bottom: 10px;
}
.np-clear:after, .np-clear:before {
	content: "";
	display: table;
	clear: both;
}

.nextprev a.np-right, .nextprev a.np-left, .nextprev a.np-clea, .nextprev a.np-first, .nextprev a.np-last, .nextprev button.np-clea{
	background-color: #04AA6D;
	color: #ffffff;
	border-color: #04AA6D;
}

.nextprev a ,np-clea{
	font-size: 18px;
	font-family: 'Source Sans Pro', sans-serif;
	padding-left: 19px;
	padding-right: 19px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}

.np-left,.np-first {
	float: left !important;
  margin-left: 100px;
}

.np-right,.np-last {
	float: right !important;
  margin-right: 100px;
}
.np-clea{
  float: none !important;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}









div.body {
	display: block;
	text-align: center;
  padding-top: 50px;
}
